<section
  class="tw-flex tw-flex-wrap tw-mb-50 frame-x tw-py-50 gradient-background">
  <div class="tw-w-full md:tw-flex-1 tw-flex tw-items-center tw-justify-center">
    <img
      ngSrc="images/angular.webp"
      alt="error-not found"
      width="500"
      height="500"
      aria-label="error-not found" />
  </div>

  <div class="tw-w-full md:tw-flex-1 tw-flex tw-flex-col tw-justify-center">
    <h1 class="tw-mb-50">Oops...page not found!</h1>
    <p class="tw-mb-50">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>

    <a
      class="tw-w-[100px]"
      mat-raised-button
      color="primary"
      routerLink="/home">
      Home
    </a>
  </div>
</section>
