@use '@angular/material' as mat;

//@include mat.core;
// only needed one in a project, avoid importing here
// as it decreases performance (see styles.css chunk files and raw size)

// http://mcg.mbitson.com/#!?mcgpalette0=%23191649&mcgpalette1=%23464916

$primary: (
  50: #fffbfb,
  100: #fef6f5,
  200: #fef0ee,
  300: #fde9e7,
  400: #fce5e2,
  500: #fce0dd,
  600: #fcdcd9,
  700: #fbd8d4,
  800: #fbd3cf,
  900: #facbc7,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$secondary: (
  50: #fefcfe,
  100: #fdf7fc,
  200: #fcf2fa,
  300: #fbecf8,
  400: #fae8f7,
  500: #f9e4f5,
  600: #f8e1f4,
  700: #f7ddf2,
  800: #f6d9f0,
  900: #f5d1ee,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$error: (
  50: #ffe0e0,
  100: #ffb3b3,
  200: #ff8080,
  300: #ff4d4d,
  400: #ff2626,
  500: #f00,
  600: #f00,
  700: #f00,
  800: #f00,
  900: #f00,
  A100: #fff,
  A200: #fff2f2,
  A400: #ffbfbf,
  A700: #ffa6a6,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #000,
  ),
);
$my-primary: mat.m2-define-palette($primary);
$my-accent: mat.m2-define-palette($secondary, A200, A100, A400);
$my-warn: mat.m2-define-palette($error);
$my-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
  )
);

// https://angular-material.dev/courses/m2-ng-components/m2-ng-components/create-custom-theme
// @include mat.all-component-themes($my-theme);
// For better performance use following =>
// @include mat.core-theme($my-theme);
@include mat.button-theme($my-theme);
//@include mat.snack-bar-theme($my-theme);
//@include mat.form-field-theme($my-theme);
//@include mat.progress-spinner-theme($my-theme);
