@font-face {
  font-display: swap;
  font-family: Asap;
  font-style: normal;
  font-weight: normal; // normal
  src: url('../assets/fonts/Asap/Asap-Regular.ttf');
}

@font-face {
  font-display: swap;
  font-family: Asap;
  font-style: normal;
  font-weight: 600; // semibold
  src: url('../assets/fonts/Asap/Asap-SemiBold.ttf');
}

@font-face {
  font-display: swap;
  font-family: Asap;
  font-style: normal;
  font-weight: bold; // bold
  src: url('../assets/fonts/Asap/Asap-Bold.ttf');
}
