<section
  class="tw-flex tw-flex-wrap tw-mb-50 frame-x tw-py-50 gradient-background">
  <div
    class="tw-w-full md:tw-flex-1 md:tw-order-2 tw-flex tw-items-center tw-justify-center">
    <img
      ngSrc="images/angular.webp"
      alt="home"
      width="500"
      height="500"
      aria-label="home"
      priority />
  </div>

  <div
    class="tw-w-full md:tw-flex-1 md:tw-order-1 tw-flex tw-flex-col tw-justify-center">
    <h1 class="tw-mb-50">
      Welcome to my prototype -<br />
      Pagination App
    </h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>
</section>

<section class="tw-flex tw-px-frame tw-py-frame tw-flex-col tw-items-center">
  <h2 class="tw-mb-50">Features</h2>
  <div class="cards-container">
    @for (route of mainRoutes; track route.routeName) {
      <a class="card tw-bg-tertiary" [routerLink]="'/' + route.routeName">
        <h3 class="tw-mb-10">
          {{ route.displayName }}
        </h3>
        <p>
          {{ route.description }}
        </p>
      </a>
    }
  </div>
</section>
